@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TestHTMLHelper</title>
</head>
<body>
    @{Html.BeginForm("Browse", "Home"); }

        @Html.Label("User Name:") <br />
        @Html.TextBox("textBox1") <br />
        @Html.Label("Address:") <br />
        @Html.TextArea("textareal") <br />
        @Html.Label("Password:") <br />
        @Html.Password("password") <br />
        @Html.Label("I need updates on my mail: ")
        @Html.CheckBox("checkbox1") <br />
        @Html.Label("Select your city:")
        @Html.DropDownList("myList", new SelectList(
        new[] { "New York", "Philadelphia", "California" }), "Choose")<br />
        Male @Html.RadioButton("Gender", "Male", true) <br />
        Female @Html.RadioButton("Gender", "Female") <br />
        <input type="submit" value="Submit" />

</body>
</html>